h3 {background-color: rgba(211,211,211, 0.4);
    width: auto;
    border-radius: 25px;
 border: 4px;
 padding: auto;
 width: auto;
 height: auto;
}
}
.mydiv {background-color: rgba(211,211,211, 0.4);
  width: 150px;
  border-radius: 25px;
  border: 4px;
  height: 40px;
  padding:inherit;
}

  }
  h2 {background-color: rgba(211,211,211, 0.4);
      width: auto;
      border-radius: 25px;
   border: 4px;
   padding: auto;
   width: auto;
   height: auto;
    }
    h1 {background-color: rgba(211,211,211, 0.4);
        width: auto;
        border-radius: 25px;
     border: 4px;
     padding: auto;
     width: auto;
     height: auto;
      }
